.bikes-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.bikes-page a{
  text-decoration: none;
  color: #000;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.topper{
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
.topper a{
  text-decoration: none;
  color: black;
}
.book-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  /* margin: 10px; */
  cursor: pointer;
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 5px;
}
.bookbut{
  display: flex;
  justify-content: center;
}

.book-now-button:hover {
  background-color: #053463;
}

.search-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #070808;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #070707;
  border-radius: 5px;
  width: 250px;
}

.bikes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.frow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.bike {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  background-color: #f9f9f9;
  overflow: hidden;
  text-align: center;
}

.bike-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bikeimg {
  width: 100%;
  height: 150px;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #000;
  width: 80%;
  margin: 20px 0;
}

.bike-description {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
